numpy==2.3.2
rich==14.1.0
torch==2.5.1
setuptools<71.0.0
prompt_toolkit==3.0.51
transformers==4.46.3
datasets==3.1.0
accelerate==1.1.1
bitsandbytes==0.45.2
trl==0.12.1
peft==0.13.2
pytest==8.4.1
pydantic==2.11.7
pydantic_core==2.33.2
liger-kernel==0.4.2
